<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>you are at id no:- <%= data.id %>
    </h1>
    <input type="password" placeholder="ENTER PASSWORD" id="e_pass">
    <%let edit_password=document.getElementById("e_pass");%>
        <%if (edit_password===<%=data.password) {%>

            <h1>You Are Authenticated User</h1>

            <% } else { %>
                <h1>Authentication failed</h1>
                <% } %>




</body>

</html>