<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>

</head>

<body>
    <h1>hii! this is home page </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dolor dicta necessitatibus illum cum sequi, ab sint
        rerum quasi odio exercitationem reprehenderit fugiat similique ratione fugit possimus nulla optio quidem
        assumenda, est nobis alias. Eius hic esse voluptatum. Quam laboriosam distinctio corrupti reprehenderit ullam
        cum dolores libero, repellendus eligendi. Ipsa quas sit vero libero voluptas dignissimos pariatur earum minus
        expedita, quis in dolorum sequi officia est at laborum nam doloribus temporibus molestiae reprehenderit
        recusandae. Deleniti, repellendus quidem excepturi dolor placeat repellat iusto, reprehenderit, sint autem
        ducimus ipsum labore assumenda nisi suscipit odit ab id! Reiciendis voluptas repellendus libero? Cumque minima
        facere aperiam atque tenetur? Consequuntur possimus temporibus totam dolores? Dolorem possimus accusantium
        cupiditate reiciendis, cum ea, impedit perspiciatis quaerat recusandae magnam facilis non quas voluptates quam
        cumque quae iste inventore quia vel iusto repellendus! Commodi voluptatum natus dignissimos illum quasi tenetur
        molestiae incidunt itaque. Consectetur nobis ad ratione error totam alias hic repudiandae, fugit esse, mollitia
        facilis earum voluptate officiis voluptas! Quas nihil a corporis quisquam sequi, deserunt esse nobis fugit
        expedita molestias sint. Porro cumque quod fugiat deleniti repudiandae? Iure, nostrum. Rem perspiciatis possimus
        fugiat voluptatibus exercitationem tempora incidunt, nobis officiis debitis dignissimos ad deserunt odio
        provident magni ab?</p>

    <button>click me</button>

</body>

</html>