<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rollsdice</title>
</head>

<body>
    <h1>THE VALUE OF DICE IS : <%= num %>
    </h1>
    <% if (num==6) { %>
        <h1> Nice ! RollsDice Again.<h1>

                <% } %>
</body>

</html>